doctype html
// color is d13100, ffc30b
head
  title book.sanctum.ca

  link(rel='stylesheet' type='text/css' href='css/info.css')
  link(rel='stylesheet' type='text/css' href='css/navigationBar.css')
  link(rel='stylesheet' type='text/css' href='css/navigationSearch.css')
  link(rel='stylesheet' type='text/css' href='css/orderTab.css')
  ul
    a(href='client_home')
      img(src='themes/images/logo.png' alt='Bootsshop')
    #loggedInBar
  .topnav
    .search-container
      form(action='/search?=')
        input(type='text' placeholder='Search for anything' name='text')
        .select-style
          select#genreSelect.select-width(name='genre')
            option All Genres
        button(type='submit') Search
        button(type='button' onclick="location.href='form?page=search'") Advanced Search

#filterCol.row(style='background-color:#ffffff;')
  #bookInfo.column.info-column
  .column.order-column
    .order-tab
      .order-nav
        .cart-nav-info
          a
            img.cart-img(src='themes/images/cart.png' alt='Bootsshop')
      .order-main
        p#totalItems.subtotal  Total items:
        p#subtotal.subtotal  Subtotal:
        button.checkout-button(type='button' onclick='checkout()') Checkout
        #cart.cart

script(src='jquery-1.11.3.js')
script(src='BookInfoClient.js')
script(src='MenuContentClient.js')
script(src='NavbarContentClient.js')
script.
  let book = !{JSON.stringify(data)};
  init(book);
