doctype html
// color is d13100, ffc30b
head
  title book.sanctum.ca

  link(rel='stylesheet' type='text/css' href='../css/checkout.css')
.box
  p.header-text Review your order
  p.disclaimer-text By ordering you agree that your items will never arrive to the destination.
  .column.items-box
  .column.order-box
    .order-info
    .order-stats
      p.order-stats-header Order Review
      p.order-stats-title.order-stats-group Items:
      p.order-stats-text.order-stats-group $343:
      p.order-stats-title.order-stats-group Shipping:
      p.order-stats-title.order-stats-group Subtotal:
      p.order-stats-title.order-stats-group Estimated tax:
      p.order-stats-title.order-stats-group Total:

script(src='jquery-1.11.3.js')
script(src='checkoutClient.js')
