doctype html
head
  title book.sanctum.ca
  script(src='jquery-1.11.3.js')
  link(rel='stylesheet' type='text/css' href='../css/navigationBar.css')
ul
  a(href='admin_home')
    img(src='themes/images/logo.png' alt='Bootsshop')
p.title ERROR 404: Page not found
