doctype html
// color is d13100, ffc30b
head

  title book.sanctum.ca

  link(rel='stylesheet' type='text/css' href='../css/search.css')
  link(rel='stylesheet' type='text/css' href='../css/navigationBar.css')
  link(rel='stylesheet' type='text/css' href='../css/navigationSearch.css')
  link(rel='stylesheet' type='text/css' href='../css/orderTab.css')
  ul
    a(href='client_home')
      img(src='themes/images/logo.png' alt='Bootsshop')
    #loggedInBar
  .topnav
    .search-container
      form(action='/search?=')
        input(type='text' placeholder='Search for anything' name='text' value=`${text}`)
        .select-style
          select#genreSelect.select-width(name='genre')
            option All Genres
        button(type='submit') Search
        button(type='button' onclick="location.href='form?page=search'") Advanced Search

//
  <div class="column filter" id="left">
  <p><b>Filter column here</b></p>
  </div>
  <div class="column listing" id="middle">
  <p><b>Listing column here</b></p>
  <div class="grid-container" id="searchListing">
  </div>
  <div class="column order" id="right">
  <p><b>order column here</b></p>
  </div>
#filterCol.row(style='background-color:#ffffff;')
  .column.filter
    .filter-options
      h2 Filters
      #genreList.genre-list
      #authorList.genre-list
  .column.listing
    .list-header
      span#ListHeading.listing-header
      .sort-select
        select#sortSelect
          option Featured
          option Price: High first
          option Price: Low first
          option Release: New first
          option Release: Old first
    #searchListing.grid-container(style='background-color:#ffffff;')
  .column.order-column
    .order-tab
      .order-nav
        .cart-nav-info
          a
            img.cart-img(src='themes/images/cart.png' alt='Bootsshop')
      .order-main
        p#totalItems.subtotal  Total items:
        p#subtotal.subtotal  Subtotal:
        button.checkout-button(type='button' onclick='checkout()') Checkout
        #cart.cart

script(src='jquery-1.11.3.js')
script(src='ListPageClient.js')
script(src='MenuContentClient.js')
script(src='NavbarContentClient.js')
script.
  let searchResults = !{JSON.stringify(data)};
  let textInput = !{JSON.stringify(text)};
  let genreInput = !{JSON.stringify(genre)};
  init(searchResults,textInput,genreInput);
