body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #d13100;
  height: 100px;

}

.topnav a {
  float: left;
  color: #d13100;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #d13100;
  color: red;
}

.topnav a.active {
  background-color: #d13100;
  color: white;
}
.inner-element{
  line-height: 50px;
}

.submission {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 40px;
  margin-top: 10px;
}
.submissionfield {
  width: 590px;
  solid #999999;
  padding: 1em;
  font-size: 18px;
}

.header-logo {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.select-style {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    width: 100px;

    font-size: 20px;
    padding-top:8px;
    line-height: 100%;

}

.select-style select {
    padding: 5px 8px;
    width: 180%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-width{
  width: 10px;
}

.submit-button {
  background-color: #ffc30b;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}
