
h1 {
   font-family: PokemonLogo;
   font-size: 72px;
   color:#ffe600;
   text-shadow:
-5px -5px 0 #0066ff,
5px -5px 0 #0066ff,
-5px 5px 0 #0066ff,
5px 5px 0 #0066ff;
}
p{
  font-family: PokemonText;
  font-size: 17px;
  color:#000000 ;

}
.menu{
  background-color: #e0e0e0;
  padding: 30px;
  height: 190vh;
}

.home-section{
  background-color: #ffffff;
  height: 350px;
  padding: 30px;
  max-width: 1200px;
  border-radius: 10px;
  border-style: solid;
  border-color: #bdbdbd;
  border-width: thin;


  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.text-section{
  font-family: Verdana;
  font-size: 25px;
  color: #4a4a4a;

}



.grid-container {
  margin-top: 10px;
display: grid;
align-content: center;
grid-template-columns: auto;
grid-gap: 30px;
padding: 30px;
border-radius: 5px;
border-style: solid;
border-color: #bdbdbd;
border-width: thin;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0);
padding: 20px;
font-size: 30px;
border-bottom:1px solid #bdbdbd;
}



/*info from: https://www.atyantik.com/creating-card-layout-with-css3-grid/*/
.card{

}

.column {
  float: left;
  height: 100vh;
  box-sizing: border-box;

}

.filter, .order {
  width: 23%;
  max-width: 25%;
}

.listing {
  width: 54%;
  max-width: 50%;
}
